.roadmap {
    width: 100%;
    height: 1100px;
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
    padding-left: 0px;
    padding-top: 25px;
}

.roadmap-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.roadmap-long {
    width: 100%;
    height: 1600px;;
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
    padding-left: 25px;
    padding-top: 25px;
}

.roadmap-content {
    background-color: #fff;
    color: #fff;
    position: absolute;
    border-radius: 5px;
    border: 1px solid;
    padding: 1% 2% 1% 2%;
    max-width: 200px;
    z-index: 1;
}

h1 {
    color: #000;
    font-size: 80%;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

.HTML-Line1
{
    position: absolute;
    width: 7px;
    height: 100px;
    left: 970px;
    top: 331px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line2
{
    position: absolute;
    width: 150px;
    height: 7px;
    left: 730px;
    top: 460px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line3
{
    position: absolute;
    width: 150px;
    height: 7px;
    left: 382px;
    top: 470px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line4
{
    position: absolute;
    width: 177px;
    height: 7px;
    left: 440px;
    top: 400px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line5
{
    position: absolute;
    width: 223px;
    height: 7px;
    left: 393px;
    top: 550px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line6
{
    position: absolute;
    width: 7px;
    height: 150px;
    left: 610px;
    top: 406px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line7
{
    position: absolute;
    width: 161px;
    height: 7px;
    left: 1075px;
    top: 460px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line8
{
    position: absolute;
    width: 60px;
    height: 7px;
    left: 1388px;
    top: 460px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line9
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 548px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line10
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 370px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line11
{
    position: absolute;
    width: 7px;
    height: 175px;
    left: 1320px;
    top: 375px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line12
{
    position: absolute;
    width: 7px;
    height: 619px;
    left: 970px;
    top: 507px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line13
{
    position: absolute;
    width: 7px;
    height: 175px;
    left: 1320px;
    top: 541px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}


.HTML-Line14
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 660px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line15
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 815px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line16
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 740px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line17
{
    position: absolute;
    width: 7px;
    height: 175px;
    left: 1320px;
    top: 645px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line18
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line19
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 1243px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line20
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 1158px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line21
{
    position: absolute;
    width: 7px;
    height: 165px;
    left: 1320px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line22
{
    position: absolute;
    width: 162px;
    height: 7px;
    left: 1074px;
    top: 1158px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line23
{
    position: absolute;
    width: 138px;
    height: 7px;
    left: 740px;
    top: 1158px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line24
{
    position: absolute;
    width: 130px;
    height: 7px;
    left: 482px;
    top: 1158px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line25
{
    position: absolute;
    width: 190px;
    height: 7px;
    left: 468px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line26
{
    position: absolute;
    width: 190px;
    height: 7px;
    left: 468px;
    top: 1250px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line27
{
    position: absolute;
    width: 7px;
    height: 176.5px;
    left: 652px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line28
{
    position: absolute;
    width: 7px;
    height: 208px;
    left: 970px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;
}

/* JS LINE SECTION BEGIN */

.JS-Line1
{
    position: absolute;
    width: 7px;
    height: 210px;
    left: 850px;
    top: 353px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line2
{
    position: absolute;
    width: 75px;
    height: 7px;
    left: 980px;
    top: 540px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line3
{
    position: absolute;
    width: 75px;
    height: 7px;
    left: 980px;
    top: 635px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line4
{
    position: absolute;
    width: 7px;
    height: 95px;
    left: 980px;
    top: 545px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line5
{
    position: absolute;
    width: 55px;
    height: 7px;
    left: 930px;
    top: 585px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line6
{
    position: absolute;
    width: 30px;
    height: 7px;
    left: 700px;
    top: 585px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line7
{
    position: absolute;
    width: 7px;
    height: 180px;
    left: 700px;
    top: 592px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line8
{
    position: absolute;
    width: 39px;
    height: 7px;
    left: 668px;
    top: 770px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line9
{
    position: absolute;
    width: 183px;
    height: 7px;
    left: 338px;
    top: 770px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line10
{
    position: absolute;
    width: 240px;
    height: 7px;
    left: 338px;
    top: 700px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line11
{
    position: absolute;
    width: 227px;
    height: 7px;
    left: 355px;
    top: 850px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line12
{
    position: absolute;
    width: 7px;
    height: 150px;
    left: 575px;
    top: 700px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line13
{
    position: absolute;
    width: 7px;
    height: 360px;
    left: 850px;
    top: 620px;

    border: 3px solid #000000;
    box-sizing: border-box;


}


.JS-Line14
{
    position: absolute;
    width: 102px;
    height: 7px;
    left: 685px;
    top: 1000px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line15
{
    position: absolute;
    width: 7px;
    height: 150px;
    left: 575px;
    top: 830px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line16
{
    position: absolute;
    width: 145px;
    height: 7px;
    left: 375px;
    top: 1200px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line17
{
    position: absolute;
    width: 7px;
    height: 130px;
    left: 575px;
    top: 1040px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line18
{
    position: absolute;
    width: 7px;
    height: 160px;
    left: 450px;
    top: 1120px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line19
{
    position: absolute;
    width: 77px;
    height: 7px;
    left: 380px;
    top: 1280px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line20
{
    position: absolute;
    width: 110px;
    height: 7px;
    left: 342px;
    top: 1120px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line21
{
    position: absolute;
    width: 115px;
    height: 7px;
    left: 900px;
    top: 1000px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line22
{
    position: absolute;
    width: 80px;
    height: 7px;
    left: 1240px;
    top: 955px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line23
{
    position: absolute;
    width: 80px;
    height: 7px;
    left: 1240px;
    top: 1060px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line24
{
    position: absolute;
    width: 7px;
    height: 110px;
    left: 1240px;
    top: 955px;

    border: 3px solid #000000;
    box-sizing: border-box;


}


.JS-Line25
{
    position: absolute;
    width: 30px;
    height: 7px;
    left: 1215px;
    top: 1010px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line26
{
    position: absolute;
    width: 7px;
    height: 529px;
    left: 850px;
    top: 1040px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line27
{
    position: absolute;
    width: 30px;
    height: 7px;
    left: 432px;
    top: 1500px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line28
{
    position: absolute;
    width: 30px;
    height: 7px;
    left: 432px;
    top: 1600px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line29
{
    position: absolute;
    width: 7px;
    height: 107px;
    left: 460px;
    top: 1500px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line30
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 432px;
    top: 1600px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line31
{
    position: absolute;
    width: 100px;
    height: 7px;
    left: 631px;
    top: 1600px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line32
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 910px;
    top: 1600px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line33
{
    position: absolute;
    width: 7px;
    height: 207.3px;
    left: 980px;
    top: 1400px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line34
{
    position: absolute;
    width: 38px;
    height: 7px;
    left: 980px;
    top: 1400px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line35
{
    position: absolute;
    width: 7px;
    height: 130px;
    left: 1130px;
    top: 1440px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line36
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 1250px;
    top: 1650px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line37
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 1250px;
    top: 1550px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line38
{
    position: absolute;
    width: 7px;
    height: 100px;
    left: 1250px;
    top: 1550px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.JS-Line39
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 1205px;
    top: 1600px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.JS-Line40
{
    position: absolute;
    width: 40px;
    height: 7px;
    left: 1215px;
    top: 1400px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.JS-Line41
{
    position: absolute;
    width: 7px;
    height: 100px;
    left: 1250px;
    top: 1350px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.JS-Line42
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 1250px;
    top: 1350px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.JS-Line43
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 1250px;
    top: 1450px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.JS-Line44
{
    position: absolute;
    width: 7px;
    height: 150px;
    left: 850px;
    top: 1630px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

/* CSS LINE SECTION BEGIN */

.CSS-Line1
{
    position: absolute;
    width: 7px;
    height: 75px;
    left: 835px;
    top: 352px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line2
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 920px;
    top: 450px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line3
{
    position: absolute;
    width: 150px;
    height: 7px;
    left: 840px;
    top: 530px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line4
{
    position: absolute;
    width: 150px;
    height: 7px;
    left: 840px;
    top: 610px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line5
{
    position: absolute;
    width: 7px;
    height: 110px;
    left: 835px;
    top: 507px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line6
{
    position: absolute;
    width: 90px;
    height: 7px;
    left: 1165px;
    top: 610px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line7
{
    position: absolute;
    width: 7px;
    height: 160px;
    left: 835px;
    top: 610px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line8
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 600px;
    top: 800px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line9
{
    position: absolute;
    width: 100px;
    height: 7px;
    left: 890px;
    top: 800px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line10
{
    position: absolute;
    width: 68px;
    height: 7px;
    left: 1190px;
    top: 800px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line11
{
    position: absolute;
    width: 68px;
    height: 7px;
    left: 1190px;
    top: 900px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line12
{
    position: absolute;
    width: 68px;
    height: 7px;
    left: 1190px;
    top: 720px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line13
{
    position: absolute;
    width: 7px;
    height: 180px;
    left: 1190px;
    top: 720px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line14
{
    position: absolute;
    width: 68px;
    height: 7px;
    left: 1128px;
    top: 800px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line15
{
    position: absolute;
    width: 7px;
    height: 455px;
    left: 840px;
    top: 830px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line16
{
    position: absolute;
    width: 7px;
    height: 285px;
    left: 1060px;
    top: 830px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line17
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 1205px;
    top: 1060px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line18
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 1205px;
    top: 1150px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line19
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 1205px;
    top: 1230px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line20
{
    position: absolute;
    width: 7px;
    height: 170px;
    left: 1205px;
    top: 1060px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.CSS-Line21
{
    position: absolute;
    width: 20px;
    height: 7px;
    left: 1190px;
    top: 1150px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

/* C# LINE SECTION BEGIN */

.Csharp-Line1
{
    position: absolute;
    width: 7px;
    height: 115px;
    left: 850px;
    top: 352px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line2
{
    position: absolute;
    width: 7px;
    height: 209px;
    left: 850px;
    top: 525px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line3
{
    position: absolute;
    width: 7px;
    height: 248px;
    left: 850px;
    top: 790px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line4
{
    position: absolute;
    width: 7px;
    height: 113px;
    left: 850px;
    top: 1115px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line5
{
    position: absolute;
    width: 7px;
    height: 230px;
    left: 850px;
    top: 1285px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line6
{
    position: absolute;
    width: 7px;
    height: 190px;
    left: 850px;
    top: 1570px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line7
{
    position: absolute;
    width: 100px;
    height: 7px;
    left: 915px;
    top: 490px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line8
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 740px;
    top: 490px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line9
{
    position: absolute;
    width: 7px;
    height: 95px;
    left: 740px;
    top: 450px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line10
{
    position: absolute;
    width: 140px;
    height: 7px;
    left: 605px;
    top: 450px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line11
{
    position: absolute;
    width: 95px;
    height: 7px;
    left: 652px;
    top: 538px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line12
{
    position: absolute;
    width: 87px;
    height: 7px;
    left: 595px;
    top: 800px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line13
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 608px;
    top: 720px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line14
{
    position: absolute;
    width: 7px;
    height: 83px;
    left: 675px;
    top: 720px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line15
{
    position: absolute;
    width: 87px;
    height: 7px;
    left: 680px;
    top: 760px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line16
{
    position: absolute;
    width: 87px;
    height: 7px;
    left: 930px;
    top: 760px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line17
{
    position: absolute;
    width: 7px;
    height: 70px;
    left: 1010px;
    top: 730px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line18
{
    position: absolute;
    width: 65px;
    height: 7px;
    left: 1010px;
    top: 730px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line19
{
    position: absolute;
    width: 65px;
    height: 7px;
    left: 1010px;
    top: 800px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line20
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 1288px;
    top: 670px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line21
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 1288px;
    top: 770px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line22
{
    position: absolute;
    width: 7px;
    height: 100px;
    left: 1288px;
    top: 675px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line23
{
    position: absolute;
    width: 65px;
    height: 7px;
    left: 1225px;
    top: 720px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line24
{
    position: absolute;
    width: 65px;
    height: 7px;
    left: 665px;
    top: 1070px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line25
{
    position: absolute;
    width: 7px;
    height: 216px;
    left: 665px;
    top: 970px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line26
{
    position: absolute;
    width: 86px;
    height: 7px;
    left: 585px;
    top: 1180px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line27
{
    position: absolute;
    width: 86px;
    height: 7px;
    left: 585px;
    top: 970px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line28
{
    position: absolute;
    width: 86px;
    height: 7px;
    left: 585px;
    top: 1070px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line29
{
    position: absolute;
    width: 145px;
    height: 7px;
    left: 928px;
    top: 1070px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line30
{
    position: absolute;
    width: 150px;
    height: 7px;
    left: 923px;
    top: 1250px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line31
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 1270px;
    top: 1260px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line32
{
    position: absolute;
    width: 7px;
    height: 100px;
    left: 1315px;
    top: 1210px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line33
{
    position: absolute;
    width: 117px;
    height: 7px;
    left: 1315px;
    top: 1210px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line34
{
    position: absolute;
    width: 117px;
    height: 7px;
    left: 1315px;
    top: 1305px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line35
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 965px;
    top: 1500px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line36
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 965px;
    top: 1580px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line37
{
    position: absolute;
    width: 7px;
    height: 80px;
    left: 965px;
    top: 1500px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line38
{
    position: absolute;
    width: 60px;
    height: 7px;
    left: 905px;
    top: 1540px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line39
{
    position: absolute;
    width: 89px;
    height: 7px;
    left: 1192px;
    top: 1580px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line40
{
    position: absolute;
    width: 30px;
    height: 7px;
    left: 650px;
    top: 1580px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line41
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 630px;
    top: 1500px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line42
{
    position: absolute;
    width: 7px;
    height: 87px;
    left: 680px;
    top: 1500px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line43
{
    position: absolute;
    width: 50px;
    height: 7px;
    left: 680px;
    top: 1540px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

.Csharp-Line44
{
    position: absolute;
    width: 70px;
    height: 7px;
    left: 412px;
    top: 1575px;

    border: 3px solid #000000;
    box-sizing: border-box;

}

/* C# LINE SECTION END */