.roadmap {
    width: 100%;
    height: 1100px;
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
    padding-left: 0px;
    padding-top: 25px;
}

.roadmap-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.roadmap-long {
    width: 100%;
    height: 1600px;;
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
    padding-left: 25px;
    padding-top: 25px;
}

.roadmap-content {
    background-color: #fff;
    color: #fff;
    position: absolute;
    border-radius: 5px;
    border: 1px solid;
    padding: 1% 2% 1% 2%;
    max-width: 200px;
    z-index: 1;
}

h1 {
    color: #000;
    font-size: 80%;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

.HTML-Line1
{
    position: absolute;
    width: 7px;
    height: 100px;
    left: 970px;
    top: 331px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line2
{
    position: absolute;
    width: 150px;
    height: 7px;
    left: 730px;
    top: 460px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line3
{
    position: absolute;
    width: 150px;
    height: 7px;
    left: 382px;
    top: 470px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line4
{
    position: absolute;
    width: 177px;
    height: 7px;
    left: 440px;
    top: 400px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line5
{
    position: absolute;
    width: 223px;
    height: 7px;
    left: 393px;
    top: 550px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line6
{
    position: absolute;
    width: 7px;
    height: 150px;
    left: 610px;
    top: 406px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line7
{
    position: absolute;
    width: 161px;
    height: 7px;
    left: 1075px;
    top: 460px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line8
{
    position: absolute;
    width: 60px;
    height: 7px;
    left: 1388px;
    top: 460px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line9
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 548px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line10
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 370px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line11
{
    position: absolute;
    width: 7px;
    height: 175px;
    left: 1320px;
    top: 375px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line12
{
    position: absolute;
    width: 7px;
    height: 619px;
    left: 970px;
    top: 507px;
    
    border: 3px solid #000000;
    box-sizing: border-box;


}

.HTML-Line13
{
    position: absolute;
    width: 7px;
    height: 175px;
    left: 1320px;
    top: 541px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}


.HTML-Line14
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 660px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line15
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 815px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line16
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 740px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line17
{
    position: absolute;
    width: 7px;
    height: 175px;
    left: 1320px;
    top: 645px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line18
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line19
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 1243px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line20
{
    position: absolute;
    width: 125px;
    height: 7px;
    left: 1320px;
    top: 1158px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line21
{
    position: absolute;
    width: 7px;
    height: 165px;
    left: 1320px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line22
{
    position: absolute;
    width: 162px;
    height: 7px;
    left: 1074px;
    top: 1158px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line23
{
    position: absolute;
    width: 138px;
    height: 7px;
    left: 740px;
    top: 1158px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line24
{
    position: absolute;
    width: 130px;
    height: 7px;
    left: 482px;
    top: 1158px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line25
{
    position: absolute;
    width: 190px;
    height: 7px;
    left: 468px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line26
{
    position: absolute;
    width: 190px;
    height: 7px;
    left: 468px;
    top: 1250px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line27
{
    position: absolute;
    width: 7px;
    height: 176.5px;
    left: 652px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;



}

.HTML-Line28
{
    position: absolute;
    width: 7px;
    height: 208px;
    left: 970px;
    top: 1080px;
    
    border: 3px solid #000000;
    box-sizing: border-box;
}

.JS-Line1
{
    position: absolute;
    width: 7px;
    height: 210px;
    left: 850px;
    top: 353px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line2
{
    position: absolute;
    width: 75px;
    height: 7px;
    left: 980px;
    top: 540px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line3
{
    position: absolute;
    width: 75px;
    height: 7px;
    left: 980px;
    top: 635px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line4
{
    position: absolute;
    width: 7px;
    height: 95px;
    left: 980px;
    top: 545px;

    border: 3px solid #000000;
    box-sizing: border-box;


}

.JS-Line5
{
    position: absolute;
    width: 55px;
    height: 7px;
    left: 930px;
    top: 585px;

    border: 3px solid #000000;
    box-sizing: border-box;


}